.mukta-malar-extralight {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .mukta-malar-light {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .mukta-malar-regular {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mukta-malar-medium {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .mukta-malar-semibold {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .mukta-malar-bold {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .mukta-malar-extrabold {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  *
  {

    font-family: "Mukta Malar";

  }

  #board, .boardInfo
  {

      max-width: 500px;

  }

  #board
  {

      display: grid;
      grid-template-columns: repeat(10, 1fr);

  }

  #start, .boardInfo
  {

      font-size: 25px;

  }

  #gameOver
  {

      display: none;
      font-size: xx-large;
      position: absolute;
      background-color: #1e1f22b2;
      width: 500PX;
      height: 500PX;
      text-align: center;
      line-height: 420px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;


  }



  #start
  {

    width: 200px;
      background-color: #1E1F22;
      border: none;
      position: absolute;
      color: #F2F2F2;
      border-radius: 3px;
      margin-left: -230px;
      margin-right: 250px;
      text-align: center;
      margin-top: 500px;
      box-shadow: 0px 0px 0px 2px #F2F2F2;
      cursor: pointer;
      

  }

  #start:hover
  {
    width: 195PX;
    height: 40PX;
    font-size: 24px;
    background-color: #2C2D30;

  }

  #start:active
  {

    width: 180px;
    height: 35px;
    background-color: #474849;
    font-size: 20px;
    cursor: pointer;

  }

  #scoreBoard
  {

      display: inline-flex;
      color: aliceblue;

  }

  .square
  {

      aspect-ratio: 1;

  }

  .emptySquare
  {

      background-color: #EBD15A;

  }

  .snakeSquare
  {

    background-color: #3B8C66;

  }

  .foodSquare
  {

    background-color: #EB5E21;

  }

  .juego
  {

      width: 500px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: auto;

  }

  html
  {

    background-color: #2C2D30;
    color: #F2F2F2;

  }

  #cabeza
  {

      color: #F2F2F2;
      width: auto;
      height: 75px;
      margin-left: auto;
      margin-right: auto;
      background-color: #1E1F22;
      text-align: center;
      margin-top: -20px;
      line-height: 75px;
      box-shadow: 0px 2px 3px 0px #08678C;

  }

  
  footer
  {

      width: auto;
      height: 50px;
      background-color: #1E1F22;
      position: relative;
      top: 720px;
      margin-top: 0px;
      margin-left: 0px;
      text-align: center;
      line-height: 25px;
      color: #F2F2F2;

  }

  #board
  {

      width: 500px;
      height: 500px;
      background-color: #1E1F22;
      box-shadow:  0px 0px 0px 10px #1E1F22;

  }

  #ScoreB
  {

    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -540px;
    background-color: #1E1F22;
    border-radius: 10%;

  }

  #studio
  {
    margin-top: -118px;
    margin-left: -1525px;
    cursor: pointer;

  }

  #Example
  {

    margin-top: -95px;
    margin-left: auto;
    margin-right: auto;

  }

  #img1
  {
    
    width: 40px;
    position: relative;
    margin-left: 0;
    cursor: pointer;
    right: 30px;

  }

  #moth
  {
    width: 100px;
    margin-left: -1780px;
    margin-top: -5px;

  }

  #restart
  {

    position: absolute;
    left: 60px;
    bottom: -9px;
    cursor: pointer;

  }

  #numero
  {

    position: absolute;
    right: 40px;
    bottom: -13px;
    text-decoration: underline;

  }

  #contacto
  {

    position: absolute;
    right: 200px;
    bottom: -12px;
    cursor: pointer;
    text-decoration: underline;

  }

  #vContacto
  {

    position: absolute;
    right: 400px;
    bottom: -10px;

  }

  #separador
  {

    position: absolute;
    right: 170px;
    bottom: -10px;

  }

  #separador2
  {

    position: absolute;
    right: 370px;
    bottom: -10px;

  }

  .menu li
  {

    display: none;

  }

  .menu:hover li
  {

    display: block;

  }

  table
  {
    width: 200px;
    position: relative;
    background-color: #1e1f22cc;
    border-radius: 5px;
    margin-top: -140px;
    margin-right: 0px;
    margin-left: 0px;
    left: -250px;
    top: 100px;
    

  }

table th
{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  border: 1px solid #F2F2F2;

}

table th:hover
{

  background-color: #2C2D30cc;
  cursor: pointer;

}

.menu
{
  
  width: 20px;
  height: 60px;
  position: relative;
  right: -1800px;
  bottom: 90px;

}