.mukta-malar-extralight {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .mukta-malar-light {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .mukta-malar-regular {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mukta-malar-medium {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .mukta-malar-semibold {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .mukta-malar-bold {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .mukta-malar-extrabold {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  *
  {

    font-family: "Mukta Malar";

  }

  #board, .boardInfo
  {

      max-width: 500px;

  }

  #board
  {

      display: grid;
      grid-template-columns: repeat(10, 1fr);

  }

  #start, .boardInfo
  {

      font-size: 25px;

  }

  #gameOver
  {

      display: none;
      position: absolute;
      font-size: xx-large;
      background-color: #343435ad;
      width: 500PX;
      height: 500PX;
      text-align: center;
      line-height: 450px;
      top: 174px;
      left: 706px;

  }

  .boardInfo
  {

      display: flex;
      margin-top: 10px;

  }

  #start
  {

      background-color: red;
      border: none;
      color: aliceblue;

  }

  #scoreBoard
  {

      display: inline-flex;
      color: aliceblue;

  }

  .square
  {

      aspect-ratio: 1;

  }

  .emptySquare
  {

      background-color: #EBD15A;

  }

  .snakeSquare
  {

    background-color: #3B8C66;

  }

  .foodSquare
  {

    background-color: #EB5E21;

  }

  .juego
  {

      width: 500px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: auto;

  }

  html
  {

    background-color: #2C2D30;
    color: aliceblue;

  }

  #cabeza
  {

      color: aliceblue;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      background-color: #1E1F22;
      text-align: center;

  }

  footer
  {

      width: auto;
      height: 50px;
      background-color: #1E1F22;
      position: relative;
      top: 105px;
      text-align: center;
      color: aliceblue;

  }

  #board
  {

      width: 500px;
      height: 500px;
      background-color: #1E1F22;

  }